@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models


    <section class="footer">
        <div class="container">
            <div class="logo">
                <img src="/images/logotype-white.svg" alt="logotype"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div class="links">
                <h3>Company</h3>
                <a href="/about">About</a>
                <a href="/features">Features</a>
                <a href="/works">Works</a>
                <a href="/career">Career</a>
            </div>
            <div class="links">
                <h3>Help</h3>
                <a href="/support">Customer Support</a>
                <a href="/delivery">Delivery Details</a>
                <a href="/terms&conditions">Terms & Conditions</a>
                <a href="/privacypolicy">Privacy Policy</a>
            </div>
            <div class="links">
                <h3>Resources</h3>
                <a href="/ebooks">Free eBooks</a>
                <a href="/development">Development Tutorial</a>
                <a href="/blog">How to - Blog</a>
                <a href="/youtube">Youtube Playlist</a>
            </div>
            <div class="links">
                <h3>Links</h3>
                <a href="/ebooks">Free eBooks</a>
                <a href="/development">Development Tutorial</a>
                <a href="/blog">How to - Blog</a>
                <a href="/youtube">Youtube Playlist</a>
            </div>
            <img class="background-lines" src="/images/background-lines-white-right.svg">
        </div>
        <hr>
        <div class="container">
            <p>© <script>document.write(new Date().getFullYear())</script> Crito - Consulting Company Inc. All Rights Reserved.</p>
            <div class="social-media">
                <div class="social"><a href="#"><i class="fa-brands fa-facebook"></i></a></div>
                <div class="social"><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="social"><a href="#"><i class="fa-brands fa-instagram"></i></a></div>
                <div class="social"><a href="#"><i class="fa-brands fa-linkedin"></i></a></div>
            </div>
        </div>
    </section>