@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



    <div class="subscribe">
        <div class="container">
            <h2>Get News Updates By Signup</h2>
            <input type="text" placeholder="username@domain.com">
            <button class="dark-theme-btn">Subscribe <i class="fa-light fa-arrow-up-right"></i></button>
        </div>
        <img src="/images/background-wavy-lines.svg">
    </div>