@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TeamMemberPresentation>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
	Layout = "_Layout.cshtml";
	var image = Model.Value<IPublishedContent>("teamMemberImage");
	
}

@await Html.PartialAsync("_BreadcrumbSection")



<div class="team-member-presentation container">
    <img src="@image.Url()" />
    <h2>@Model.Name</h2>
    <p class="orange">@Model.Value("teamMemberRole")</p>
    
    <p class="team-member-description">@Model.Value("teamMemberDescription")</p>
</div>