@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUsDetails)Model.Content;
}


<div class="choose-us-box">
    <div>
        <i class="@content.Value("chooseUsDetailsIconClasses")"></i>
    </div>
    <div>
        <h3>@content.Value("chooseUsDetailsHeading")</h3>
        <p>@content.Value("chooseUsDetailsDescription").</p>
    </div>
</div>