@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ChooseUsSellpoints)Model.Content;
}


<div class="choose_us_box">
    <div>
        <i class="@content.Value("serviceFeatureIconClasses")"></i>
    </div>
    <div>
        <h3>@contect.Value("serviceFeatureTitle")</h3>
        <p>@content.Value("serviceFeatureDescription").</p>
    </div>
</div>